<%- include('../partials/header.ejs') %>
<main>
    <h2> Lesson <%= lesson.lessonNo %></h2>
    <div class="content">
        <h3 class="title">Title: <%= lesson.title %></h3>
        <p class="deutsch"> Deutsch: <%= lesson.deutsch %></p>
        <p class="dari"> Dari: <%= lesson.dari %></p>
    </div>
    <br /> <br /> <br /> <br /> <br /> <br />
    <a class="quiz" href="/lessons/quiz/<%= lesson.lessonNo %>">Quiz</a>
</main>
<%- include('../partials/footer.ejs') %>