<%- include('../partials/header.ejs') %>
<main>
    <div class="content">
        <h2> Lesson <%= lesson.lessonNo %></h2>
        <h3 class="title">Title: <%= lesson.title %></h3>
        <div>
        </div>
        <p class="deutsch"> Deutsch: <%= lesson.deutsch %></p>
        <p class="dari"> Dari: <%= lesson.dari %></p>
        <br /> <br /> <br /> <br /> <br /> <br />
        <a class="quiz" href="/lessons/quiz/<%= lesson.lessonNo %>">Quiz</a>
    </div> 
    <aside>
        <h1>ASIDE</h1>
        <p>This is an Aside Part.</p>
    </aside>
</main>
<%- include('../partials/footer.ejs') %>