<%- include('../partials/header.ejs') %>
<main>
    <div class="content">
        <h1> Lesson <%= lesson.lessonNo %></h1>
        <h3><%= lesson.title %></h3>
        <div id="lessonContent">
            <div class="deutsch">
                <h4>Deutsch</h4>
                <p> <%= lesson.deutsch %></p>
            </div>
            <div class="dari">
                <h4>دری</h4>
                <p><%= lesson.dari %></p>
            </div>
        </div>
        <div id="quizButton">
            <a href="/lessons/quiz/<%= lesson.lessonNo %>">
                <button class="quizButton">
                    Quiz
                </button>
            </a>
        </div>
    </div> 
    <aside>
        <h1>ASIDE</h1>
        <p>This is an Aside Part.</p>
    </aside>
</main>
<%- include('../partials/footer.ejs') %>