<%- include('../partials/header.ejs') %>
    <main>
        <div class="content">
            <h1> Lessons</h1>
            <div id="lessons">
                <% if (lessons.length > 0) { %>
                    <% lessons.forEach(lesson => { %>
                        <div>
                            <a class="single" href="/lessons/<%= lesson._id %>">
                                <h3 class="title">Lesson <%= lesson.lessonNo %></h3>
                                <h4 class="deutsch"><%= lesson.title %></h4>
                                <p> <%= lesson.deutsch.slice(0, 20) %> ...</p>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>There is no lesson to display. </p>
                <% } %>
            </div>
        </div>
        <aside>
			<h1>ASIDE</h1>
            <p>This is an Aside Part.</p>
		</aside>
    </main>
<%- include('../partials/footer.ejs') %>
