<%- include('../partials/header.ejs') %>
<main>
    <div class="content">
        <form action="/lessons/quiz/<%= lessonNo %>" method="post">
            <h1> Lesson <%= lessonNo %> Quizes</h1>
            <% if (quizes.length > 0) { %>
                <% quizes.forEach(quiz => { %>
                    <h4>Quiz .<%= quiz.qnumber %></h4>
                    <div class="quizContent">
                        <div class="question">
                            <p><b>Question</b>: <%= quiz.question %></p>
                        </div>
                        <div class="answer">
                            <select class="question" id="option" name="answer">
                                <option value="<%= quiz.options[0] %>"> <%= quiz.options[0] %> </option>
                                <option value="<%= quiz.options[1] %>"> <%= quiz.options[1] %></option>
                                <option value="<%= quiz.options[2] %>"> <%= quiz.options[2] %> </option>
                                <option value="<%= quiz.options[3] %>"> <%= quiz.options[3] %></option>
                            </select>
                        </div>
                    </div>
                    <hr />
                <% }) %>
                <div id="checkButton">
                    <button type="submit">Check</button>
                </div>
            <% } else { %>
                <p>There is no Quiz to display. </p>
            <% } %>
        </form>
    </div> 
    <aside>
        <h1>ASIDE</h1>
        <p>This is an Aside Part.</p>
    </aside>
</main>
<%- include('../partials/footer.ejs') %>
