<%- include('../../partials/header.ejs') %>
<div class="form_content">
    <form action="/users/setting/account" method="post">
        <div class="container">
          <h1>Profile Setting</h1>
          <hr>     
          <label for="lastname"><b>Lastname</b></label>
          <input type="text" placeholder="Lastname" name="lastname" id="lastname" value="<%= user.lastname %>" required>

          <label for="fisrtname"><b>Firstname</b></label>
          <input type="text" placeholder="Firstname" name="firstname" id="firstname" value="<%= user.firstname %>" required>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Email" name="email" id="email" value="<%= user.email %>" required>
          <button type="submit" class="registerbtn">Save Changes</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
          <span class="psw">Change your <a href="reset">password</a></span>
        </div>
      </form> 
</div>
<%- include('../../partials/footer.ejs') %>
